/* .s_tbdr{
    border: 1px dashed #000;
}

.s_mysection{
    border: 10px solid #0dcaf0 !important;

} */

.h_33{
    height: 145px;
}

.s_keyboard {
    min-height: 170px;
    overflow: hidden;
    height: 300px;
}
.s_bg {
    background-color: #555353;
}
.s_w_custom{
    width: 90px !important;
}
.s_w_custom_space{
    width:  350px !important;
}
/* .s_h33_c{
    background-image:url(../img/2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
} */

.s_size{
    font-size: 32px;
}

.keyboard-key{
    margin-right: 5px;
    width: 55px;
    height: 40px;
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.600);
    border-right-style: outset #444343;
    border-collapse: normal;
    border-style: outset;
    -moz-border-style: outset;
    -webkit-border-style: outset;
    border-width: 5px;
    border-radius: 4px;
    background-color: #444343;
    text-align: center;
    border-color: rgb(98 89 89 / 81%);
    color: #ffffff;
    font-size: 12px;
    line-height: 15px;
    transition: 5s linear linear;
    }

    .keyboard-key:active{
        background-color: #007bff !important;
        transform: translateY(3px);
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
      }

    .keyboard-key:hover {
        color: #ffffff;
        border-color: rgba(0, 0, 0, 0.813);  
    }
    .keyboard-key:focus-visible {
        color: #ffffff;
        background-color: #444343;
        border-width: 2px;
        border: none;
        border-style: inset;
        box-shadow: none;
    }
    .keyboard-key.btn-check:checked + .btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check) + .btn:active {
        color: #ffffff;
        background-color: #444343;
        border-width: 1px;
        border-color: rgba(117, 107, 107, 0.81);
        border-style: inset;
    }

   